.bottom-5px {
    margin-bottom: 5px;
}

.left-150px {
    margin-left: 150px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}