.bottom-5px {
    margin-bottom: 5px;
}

.left-210px {
    margin-left: 20px;
}

.height-660px {
    height: 660px;
}

.line-height {
    line-height: 1.35;
}

.layout-display {
    margin-right: 13px;
    display: inline-block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}